node-red-data/flows.json
[{"id":"42c7569207836c8c","type":"tab","label":"Global Setup","disabled":false,"info":"","env":[]},{"id":"8427f202728a16d4","type":"tab","label":"MFG010 SN Query","disabled":false,"info":"","env":[]},{"id":"75c788c18bb5ef80","type":"tab","label":"Add Child To Parent","disabled":false,"info":"# Docs\nlocalhost:1880/docs/addchildtoparent\nlocalhost:1880/docs/addchildtoparentresponse\n\n\n# Addding a Child Serial Number to a Parent Serial Number\n\n## Node red subscribes to the base topic to monitor for any incoming mes command requests:\n`cmd/station/1/mes/+`\n\n## Client subscribe to the target topic if desires to read results\n`cmd/station/1/mes/addchild/res`\n\n## Send a MQTT message from a client in the form:\n`cmd/station/1/mes/addchild`\n\n`{\n    \"client_id\" : \"unique_app_name1\",\n    \"session_id\" : \"abcd12345\",\n    \"topic\" \" : \"\",\n    \"response_topic\" : \"cmd/station/1/mes/addchild/res\",\n    \"action\" : \n    {\n        \"concrete_type\" : \"AddChildMessage\",\n        \"action\" : \"addchild\",\n        \"cell_id\" : \"        5833\",\n        \"username\" : \"cthompson\",\n        \"parent_sn\" : \"50001234567\",\n        \"child_sn\" : \"51003456789-01\",\n        \"station_id\" : \"assm_001\"\n    }\n}`\n\n## Node red gives a response to the supplied topic\n`cmd/station/1/unique_app_name1/res`\n\n(example success)\n`{\n    \"client_id\" : \"mes\",\n    \"session_id\":\"abcd12345\",\n    \"topic\":\"cmd/station/1/mes/addchild/res\",\n    \"res\":\n    {\n        \"lineNumber\":,\n        \"message\":\"Success\",\n        \"code\":\"\"\n    }\n}`\n\n(example failure)\n`{\n    \"client_id\" : \"mes\",\n    \"session_id\":\"abcd12345\",\n    \"topic\":\"cmd/station/1/mes/addchild/res\",\n    \"res\":\n    {\n        \"lineNumber\":88,\n        \"message\":\"Item Number not found for Serial Number 51003456789-01.\",\n        \"code\":\"EREQUEST\"\n    }\n}`\n\n## Client reads response and processes as desired","env":[]},{"id":"8227a27f69c78e85","type":"tab","label":"Generate Serial Number","disabled":false,"info":"","env":[]},{"id":"9dc7cc2fb1dceb99","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"0dbeccc2c569658c","type":"mqtt-broker","name":"coreypi-broker","broker":"192.168.0.100","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a51e405c.10f64","type":"MSSQL-CN","tdsVersion":"7_4","name":"My SQL Server","server":"192.168.1.38","port":"1433","encyption":false,"database":"testdb","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false},{"id":"2215be7e1e66b1a1","type":"MSSQL-CN","tdsVersion":"7_4","name":"TULSQLDB\\PROD","server":"${MES_SERVER_IP}","port":"${MES_SERVER_PORT}","encyption":false,"trustServerCertificate":false,"database":"${MES_DB}","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"8d9d212a.cea03","type":"MSSQL-CN","tdsVersion":"7_4","name":"My SQL Server connection","server":"192.168.1.38","port":"1433","encyption":false,"trustServerCertificate":true,"database":"testdb","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"5673f1d5.dd5f1","type":"mqtt-broker","name":"","broker":"mybroker","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"feb482045c819f0b","type":"inject","z":"42c7569207836c8c","name":"Set App Name","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"appname\":\"mes\"}","payloadType":"json","x":220,"y":120,"wires":[["1469b51c0ef32e3d","e9586ceec1b5b4a5"]]},{"id":"1469b51c0ef32e3d","type":"change","z":"42c7569207836c8c","name":"","rules":[{"t":"set","p":"appname","pt":"global","to":"payload.appname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[[]]},{"id":"e9586ceec1b5b4a5","type":"debug","z":"42c7569207836c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":240,"wires":[]},{"id":"f970995f538ffd55","type":"change","z":"42c7569207836c8c","name":"set global.hostip","rules":[{"t":"set","p":"hostip","pt":"global","to":"address","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":360,"wires":[[]]},{"id":"3fde82cd57521422","type":"hostip","z":"42c7569207836c8c","name":"Host IP","x":300,"y":400,"wires":[["f970995f538ffd55","e9586ceec1b5b4a5"]]},{"id":"3f55985d86a348d6","type":"http in","z":"42c7569207836c8c","name":"/docs","url":"docs","method":"get","upload":false,"swaggerDoc":"","x":130,"y":480,"wires":[["d03578049f19c488"]]},{"id":"355c66c4f3fb4637","type":"http response","z":"42c7569207836c8c","name":"","statusCode":"","headers":{},"x":870,"y":480,"wires":[]},{"id":"d03578049f19c488","type":"template","z":"42c7569207836c8c","name":"Page Docs","field":"payload","fieldType":"msg","format":"markdown","syntax":"mustache","template":"# Docs\n[Add Child To Parent]({{{global.hostip}}}/docs/addchildtoparent/)\n\n[Generate Serial Number]({{{global.hostip}}}/docs/generatesn/)","output":"str","x":450,"y":480,"wires":[["2e9112728a70206f"]]},{"id":"2e9112728a70206f","type":"markdown","z":"42c7569207836c8c","name":"","x":670,"y":480,"wires":[["355c66c4f3fb4637"]]},{"id":"ab131be538330814","type":"http in","z":"42c7569207836c8c","name":"/","url":"/","method":"get","upload":false,"swaggerDoc":"","x":130,"y":560,"wires":[["d03578049f19c488"]]},{"id":"97d55cd98d877de6","type":"ping","z":"42c7569207836c8c","protocol":"Automatic","mode":"triggered","name":"","host":"${MES_SERVER_IP}","timer":"20","inputs":1,"x":340,"y":300,"wires":[["e9586ceec1b5b4a5"]]},{"id":"a1166853319c5887","type":"inject","z":"42c7569207836c8c","name":"","props":[{"p":"payload"},{"p":"topic","v":"MES_SERVER_IP","vt":"env"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["97d55cd98d877de6","9bea1da2a68e7076"]]},{"id":"b1b95174d3d639fe","type":"exec","z":"42c7569207836c8c","command":"sqlcmd -S 10.10.10.39\\prod","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":300,"y":220,"wires":[["e9586ceec1b5b4a5"],["e9586ceec1b5b4a5"],["e9586ceec1b5b4a5"]]},{"id":"b3c27d10cd6b4ad2","type":"inject","z":"42c7569207836c8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":220,"wires":[["b1b95174d3d639fe"]]},{"id":"9bea1da2a68e7076","type":"debug","z":"42c7569207836c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":340,"wires":[]},{"id":"61625aaf.479d84","type":"inject","z":"8427f202728a16d4","name":"{\"part_number\": \"78700636, \"topic\": \"/mes/serialNumbers/cmd\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/mes/serialNumbers/cmd","payload":"{\"part_number\": \"50005860028\"}","payloadType":"json","x":290,"y":280,"wires":[["0b0af1f46321372a"]]},{"id":"babb6d0.5ae7e9","type":"debug","z":"8427f202728a16d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":460,"wires":[]},{"id":"61868663e1655e28","type":"mqtt in","z":"8427f202728a16d4","name":"Serial Number Value Message","topic":"mes/serialNumber/cmd","qos":"2","datatype":"json","broker":"0dbeccc2c569658c","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":380,"wires":[["29d56aa24ba863c5","0b0af1f46321372a"]]},{"id":"29d56aa24ba863c5","type":"debug","z":"8427f202728a16d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":460,"wires":[]},{"id":"d3ff6dc8598d2f66","type":"mqtt out","z":"8427f202728a16d4","name":"Serial Number","topic":"mes/serialNumber","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0dbeccc2c569658c","x":1040,"y":380,"wires":[]},{"id":"0b0af1f46321372a","type":"MSSQL","z":"8427f202728a16d4","mssqlCN":"2215be7e1e66b1a1","name":"Get Serial Numbers","outField":"payload","returnType":"0","throwErrors":"0","query":"PRINT @partNumber\n\nSET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED\n  SELECT *\n  FROM TUL$MES.dbo.[MFG010]\n  WHERE MFG010_SERIAL_NO = '{{{payload.part_number}}}'\n  AND MFG010_TEST_RESULT_CODE LIKE '1'\n  ORDER BY MFG010_EFFECTIVE_DATE DESC\n  \nPRINT 'complete'","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"","rowsType":"msg","params":[{"output":false,"name":"partNumber","type":"VarChar(20)","valueType":"msg","value":"payload.part_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":610,"y":380,"wires":[["babb6d0.5ae7e9","d3ff6dc8598d2f66"]]},{"id":"e9de84682d3a99b4","type":"inject","z":"75c788c18bb5ef80","name":"Mock Add Child to Parent Event Trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"client_id\" : \"unique_app_name1\",     \"session_id\" : \"abcd12345\",     \"topic\" : \"cmd/station/1/mes/addchild/res\",     \"action\" :      {         \"concrete_type\" : \"AddChildMessage\",         \"action\" : \"addchild\",         \"cell_id\" : \"        5833\",         \"username\" : \"cthompson\",         \"parent_sn\" : \"50001234567\",         \"child_sn\" : \"51003456789-01\",         \"station_id\" : \"assm_001\"     } }","payloadType":"json","x":190,"y":220,"wires":[["aaad2257f2baebcf"]]},{"id":"c4f24bdb865f6d86","type":"debug","z":"75c788c18bb5ef80","name":"Log Add child SP result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"01907c68d3c6e8e0","type":"mqtt in","z":"75c788c18bb5ef80","name":"Add Child to Parent Event Triggered","topic":"cmd/station/1/mes/addchild","qos":"2","datatype":"json","broker":"0dbeccc2c569658c","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":300,"wires":[["71ff3dded948b472","aaad2257f2baebcf"]]},{"id":"71ff3dded948b472","type":"debug","z":"75c788c18bb5ef80","name":"Log Incoming Add child message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":180,"y":360,"wires":[]},{"id":"c3fe14935e8bdae4","type":"mqtt out","z":"75c788c18bb5ef80","name":"Publish Add Child Result Event","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0dbeccc2c569658c","x":1290,"y":340,"wires":[]},{"id":"b93d4b03b5ec83df","type":"change","z":"75c788c18bb5ef80","name":"Populate Results Message","rules":[{"t":"delete","p":"payload.action","pt":"msg"},{"t":"set","p":"payload.client_id","pt":"msg","to":"appname","tot":"global"},{"t":"set","p":"payload.res.message","pt":"msg","to":"error.message","tot":"msg"},{"t":"set","p":"payload.res.code","pt":"msg","to":"error.code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":280,"wires":[["adfc27484522b99f"]]},{"id":"adfc27484522b99f","type":"change","z":"75c788c18bb5ef80","name":"Set Result Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":340,"wires":[["c3fe14935e8bdae4","a4372820b53f163b"]]},{"id":"a4372820b53f163b","type":"debug","z":"75c788c18bb5ef80","name":"Log Published Message Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":400,"wires":[]},{"id":"5a61637e02db7d3f","type":"comment","z":"75c788c18bb5ef80","name":"MQTT Service","info":"","x":110,"y":140,"wires":[]},{"id":"e29902ca7a82cbd8","type":"comment","z":"75c788c18bb5ef80","name":"HTTP Documentation of MQTT Service","info":"","x":190,"y":540,"wires":[]},{"id":"8acba338424b9db1","type":"http in","z":"75c788c18bb5ef80","name":"/docs/addchildtoparent","url":"docs/addchildtoparent","method":"get","upload":false,"swaggerDoc":"","x":140,"y":660,"wires":[["e01d748ab843a53b"]]},{"id":"cc235dff0a727b7c","type":"template","z":"75c788c18bb5ef80","name":"Command Response Request Message","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"client_id\" : \"mes\",\n    \"session_id\":\"abcd12345\",\n    \"topic\":\"cmd/station/1/mes/addchild/res\",\n    \"res\":\n    {\n        \"lineNumber\": \"\",\n        \"message\":\"Success\",\n        \"code\":\"\"\n    }\n}","output":"json","x":500,"y":780,"wires":[["e3c326fd2a659982","ead71fea5da5726f"]]},{"id":"83b2907ea3be65d2","type":"http in","z":"75c788c18bb5ef80","name":"docs/addchildtoparent/success","url":"docs/addchildtoparent/success","method":"get","upload":false,"swaggerDoc":"","x":170,"y":780,"wires":[["cc235dff0a727b7c"]]},{"id":"e3c326fd2a659982","type":"http response","z":"75c788c18bb5ef80","name":"Return Msg","statusCode":"","headers":{},"x":830,"y":780,"wires":[]},{"id":"ead71fea5da5726f","type":"debug","z":"75c788c18bb5ef80","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":860,"wires":[]},{"id":"cddb28c70ffa7e1a","type":"http response","z":"75c788c18bb5ef80","name":"","statusCode":"","headers":{},"x":810,"y":660,"wires":[]},{"id":"e01d748ab843a53b","type":"template","z":"75c788c18bb5ef80","name":"Page Docs","field":"payload","fieldType":"msg","format":"markdown","syntax":"mustache","template":"# Docs\n[Add Child To Parent - Success Response]({{{global.hostip}}}/docs/addchildtoparent/success)\n\n[Add Child To Parent - Error Response]({{{global.hostip}}}/docs/addchildtoparent/error)\n\n# Addding a Child Serial Number to a Parent Serial Number\n\n## Node red subscribes to the base topic to monitor for any incoming mes command requests:\n`cmd/station/1/mes/+`\n\n## Client subscribe to the target topic if desires to read results\n`cmd/station/1/mes/addchild/res`\n\n## Send a MQTT message from a client in the form:\n`cmd/station/1/mes/addchild`\n\n`{\n    \"client_id\" : \"unique_app_name1\",\n    \"session_id\" : \"abcd12345\",\n    \"topic\" \" : \"\",\n    \"response_topic\" : \"cmd/station/1/mes/addchild/res\",\n    \"action\" : \n    {\n        \"concrete_type\" : \"AddChildMessage\",\n        \"action\" : \"addchild\",\n        \"cell_id\" : \"        5833\",\n        \"username\" : \"cthompson\",\n        \"parent_sn\" : \"50001234567\",\n        \"child_sn\" : \"51003456789-01\",\n        \"station_id\" : \"assm_001\"\n    }\n}`\n\n## Node red gives a response to the supplied topic\n`cmd/station/1/unique_app_name1/res`\n\n(example success)\n`{\n    \"client_id\" : \"mes\",\n    \"session_id\":\"abcd12345\",\n    \"topic\":\"cmd/station/1/mes/addchild/res\",\n    \"res\":\n    {\n        \"lineNumber\":,\n        \"message\":\"Success\",\n        \"code\":\"\"\n    }\n}`\n\n(example failure)\n`{\n    \"client_id\" : \"mes\",\n    \"session_id\":\"abcd12345\",\n    \"topic\":\"cmd/station/1/mes/addchild/res\",\n    \"res\":\n    {\n        \"lineNumber\":88,\n        \"message\":\"Item Number not found for Serial Number 51003456789-01.\",\n        \"code\":\"EREQUEST\"\n    }\n}`\n\n## Client reads response and processes as desired","output":"str","x":390,"y":660,"wires":[["5c47208a3dfbe4c2"]]},{"id":"605ccf9210f81f02","type":"template","z":"75c788c18bb5ef80","name":"Command Response Request Message","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"client_id\" : \"mes\",\n    \"session_id\":\"abcd12345\",\n    \"topic\":\"cmd/station/1/mes/addchild/res\",\n    \"res\":\n    {\n        \"lineNumber\": \"\",\n        \"message\":\"Success\",\n        \"code\":\"\"\n    }\n}","output":"json","x":500,"y":960,"wires":[["ae807453c665bfd7","6f44d581fc7a8168"]]},{"id":"4fb89703acb50220","type":"http in","z":"75c788c18bb5ef80","name":"docs/addchildtoparent/error","url":"docs/addchildtoparent/error","method":"get","upload":false,"swaggerDoc":"","x":160,"y":960,"wires":[["605ccf9210f81f02"]]},{"id":"ae807453c665bfd7","type":"http response","z":"75c788c18bb5ef80","name":"Return Msg","statusCode":"","headers":{},"x":830,"y":960,"wires":[]},{"id":"6f44d581fc7a8168","type":"debug","z":"75c788c18bb5ef80","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":1040,"wires":[]},{"id":"aaad2257f2baebcf","type":"MSSQL","z":"75c788c18bb5ef80","mssqlCN":"2215be7e1e66b1a1","name":"Add Child To Parent SP","outField":"payload","returnType":"1","throwErrors":"0","query":"[TUL$MES].[DBO].SP_ADD_CHILD_TO_PARENT","modeOpt":"","modeOptType":"execute","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"","rowsType":"msg","params":[{"output":false,"name":"P_CELL_ID","type":"Char(12)","valueType":"msg","value":"payload.action.cell_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"P_USERNAME","type":"varchar(20)","valueType":"msg","value":"payload.action.username","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"P_PARENT_SN","type":"varchar(20)","valueType":"msg","value":"payload.action.parent_sn","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"P_CHILD_SN","type":"varchar(100)","valueType":"msg","value":"payload.action.child_sn","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"P_STATION_ID","type":"varchar(10)","valueType":"msg","value":"payload.action.station_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":550,"y":300,"wires":[["b93d4b03b5ec83df","c4f24bdb865f6d86"]]},{"id":"5c47208a3dfbe4c2","type":"markdown","z":"75c788c18bb5ef80","name":"","x":610,"y":660,"wires":[["cddb28c70ffa7e1a"]]},{"id":"c4d0cf282708c49f","type":"template","z":"75c788c18bb5ef80","name":"Command Response Request Message","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"client_id\" : \"unique_app_name1\",\n    \"session_id\" : \"abcd12345\",\n    \"topic\" : \"\",\n    \"response_topic\" : \"cmd/station/1/mes/addchild/res\",\n    \"action\" : \n    {\n        \"concrete_type\" : \"AddChildMessage\",\n        \"action\" : \"addchild\",\n        \"cell_id\" : \"        5833\",\n        \"username\" : \"cthompson\",\n        \"parent_sn\" : \"50001234567\",\n        \"child_sn\" : \"51003456789-01\",\n        \"station_id\" : \"assm_001\"\n    }\n}","output":"json","x":500,"y":1120,"wires":[["8e09cce443010eea","b98186b8101ed990"]]},{"id":"0b744156ead38bfc","type":"http in","z":"75c788c18bb5ef80","name":"docs/addchildtoparent/sample","url":"docs/addchildtoparent/sample","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1120,"wires":[["c4d0cf282708c49f"]]},{"id":"8e09cce443010eea","type":"http response","z":"75c788c18bb5ef80","name":"Return Msg","statusCode":"","headers":{},"x":830,"y":1120,"wires":[]},{"id":"b98186b8101ed990","type":"debug","z":"75c788c18bb5ef80","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":1200,"wires":[]},{"id":"438520ca5e634003","type":"inject","z":"75c788c18bb5ef80","name":"Mock Add Child to Parent Event Trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MES_SERVER_IP","payloadType":"env","x":430,"y":140,"wires":[["a9778abc913df47c"]]},{"id":"a9778abc913df47c","type":"debug","z":"75c788c18bb5ef80","name":"Log Add child SP result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"d23db72bb8a9c003","type":"inject","z":"8227a27f69c78e85","name":"Mock Add Child to Parent Event Trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"client_id\":\"unique_app_name1\",\"session_id\":\"abcd12346\",\"topic\":\"cmd/station/1/mes/createsn/res\",\"action\":{\"concrete_type\":\"CreateSnMessage\",\"work_order\":\"1878525\",\"action\":\"createsn\",\"cell_id\":\"5833\",\"username\":\"cthompson\",\"station_id\":\"assm_001\",\"branch\":\"          50\",\"children\":{\"columns\":[{\"name\":\"child_sns\",\"type\":\"VarChar(max)\"}],\"rows\":[[\"5100000123-1\"],[\"456789156\"]]}}}","payloadType":"json","x":230,"y":140,"wires":[["0a577825f8c44b01"]]},{"id":"019bdf856edde3fa","type":"debug","z":"8227a27f69c78e85","name":"Log SP result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":280,"wires":[]},{"id":"539f0dd329c181f8","type":"mqtt in","z":"8227a27f69c78e85","name":"Add Child to Parent Event Triggered","topic":"cmd/station/1/mes/createsn","qos":"2","datatype":"json","broker":"0dbeccc2c569658c","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":220,"wires":[["b985fd3ff6c46b73","0a577825f8c44b01"]]},{"id":"b985fd3ff6c46b73","type":"debug","z":"8227a27f69c78e85","name":"Log Incoming message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":280,"wires":[]},{"id":"b3a5bcf3610f044b","type":"mqtt out","z":"8227a27f69c78e85","name":"Publish Result Event","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0dbeccc2c569658c","x":1300,"y":260,"wires":[]},{"id":"b2b87f6c8e508c65","type":"change","z":"8227a27f69c78e85","name":"Populate Results Message","rules":[{"t":"delete","p":"payload.action","pt":"msg"},{"t":"set","p":"payload.client_id","pt":"msg","to":"appname","tot":"global"},{"t":"set","p":"payload.res.message","pt":"msg","to":"error.message","tot":"msg"},{"t":"set","p":"payload.res.code","pt":"msg","to":"error.code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":200,"wires":[["cd9664d0a750e80f"]]},{"id":"cd9664d0a750e80f","type":"change","z":"8227a27f69c78e85","name":"Set Result Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":260,"wires":[["b3a5bcf3610f044b","7a249329e91c9614"]]},{"id":"7a249329e91c9614","type":"debug","z":"8227a27f69c78e85","name":"Log Published Message Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":320,"wires":[]},{"id":"c7d64fcda3b984c5","type":"comment","z":"8227a27f69c78e85","name":"MQTT Service","info":"{ \n\"client_id\" : \"unique_app_name1\", \n\"session_id\" : \"abcd12346\", \n\"topic\" : \"cmd/station/1/mes/createsn/res\", \"action\" : \n    { \n    \"concrete_type\" : \"CreateSnMessage\", \"action\" : \"createsn\",\n    \"work_order\" : \"1878525\"\n    \"cell_id\" : \"5833\", \n    \"username\" : \"cthompson\", \n    \"station_id\" : \"assm_001\", \n    \"branch\" : \"          50\", \n    \"children\" : {\n    \"columns\": [\n        {\n            \"name\": \"child_sns\",\n            \"type\": \"VarChar(max)\"\n        }\n    ],\n    \"rows\": [\n        [ \"5100000123-1\" ],\n        [ \"456789156\" ]\n    ]\n} } }","x":150,"y":60,"wires":[]},{"id":"0a577825f8c44b01","type":"MSSQL","z":"8227a27f69c78e85","mssqlCN":"2215be7e1e66b1a1","name":"Create Serial Number SP","outField":"payload","returnType":"1","throwErrors":"0","query":"[TUL$MES].[DBO].SP_CREATE_IDENTITY","modeOpt":"","modeOptType":"execute","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"","rowsType":"msg","params":[{"output":false,"name":"P_CELL_ID","type":"Char(12)","valueType":"msg","value":"payload.action.cell_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"P_USERNAME","type":"varchar(20)","valueType":"msg","value":"payload.action.username","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"P_STATION_ID","type":"varchar(10)","valueType":"msg","value":"payload.action.station_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"P_BRANCH","type":"Char(12)","valueType":"msg","value":"payload.action.branch","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"P_WO_NO","type":"Char(12)","valueType":"msg","value":"payload.action.work_order","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"P_CHILDREN","type":"TVP","valueType":"msg","value":"payload.action.children","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":true,"name":"P_PARENT_SN","type":"VarChar(30)","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":590,"y":220,"wires":[["b2b87f6c8e508c65","019bdf856edde3fa"]]},{"id":"e62ef92f796304fa","type":"template","z":"8227a27f69c78e85","name":"Command Response Request Message","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"NEEDSUPDATED\":\"\"}","output":"json","x":520,"y":660,"wires":[["adfc3cf11ee562a6","b49d24b057f84c0a"]]},{"id":"d9fd8d82c657fe8e","type":"http in","z":"8227a27f69c78e85","name":"docs/generatesn/success","url":"docs/generatesn/success","method":"get","upload":false,"swaggerDoc":"","x":170,"y":660,"wires":[["e62ef92f796304fa"]]},{"id":"adfc3cf11ee562a6","type":"http response","z":"8227a27f69c78e85","name":"Return Msg","statusCode":"","headers":{},"x":850,"y":660,"wires":[]},{"id":"b49d24b057f84c0a","type":"debug","z":"8227a27f69c78e85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":740,"wires":[]},{"id":"182d4d35e6a34f32","type":"template","z":"8227a27f69c78e85","name":"Command Response Request Message","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"NEEDSUPDATED\":\"\"}","output":"json","x":520,"y":840,"wires":[["170bdb94f3a34aa1","8dc0151e0a3ace77"]]},{"id":"c9eb462a6612af17","type":"http in","z":"8227a27f69c78e85","name":"docs/generatesn/error","url":"docs/generatesn/error","method":"get","upload":false,"swaggerDoc":"","x":160,"y":840,"wires":[["182d4d35e6a34f32"]]},{"id":"170bdb94f3a34aa1","type":"http response","z":"8227a27f69c78e85","name":"Return Msg","statusCode":"","headers":{},"x":850,"y":840,"wires":[]},{"id":"8dc0151e0a3ace77","type":"debug","z":"8227a27f69c78e85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":920,"wires":[]},{"id":"308aa108a9d4e37f","type":"http in","z":"8227a27f69c78e85","name":"/docs/generatesn","url":"docs/generatesn","method":"get","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["0f32e942adcd7f57"]]},{"id":"dcca811698cb6ab6","type":"http response","z":"8227a27f69c78e85","name":"","statusCode":"","headers":{},"x":830,"y":520,"wires":[]},{"id":"0f32e942adcd7f57","type":"template","z":"8227a27f69c78e85","name":"Page Docs","field":"payload","fieldType":"msg","format":"markdown","syntax":"mustache","template":"# Docs\n[Generate Serial Number - Sample Input]({{{global.hostip}}}/docs/generatesn/sample)\n\n[Generate Serial Number - Success Response]({{{global.hostip}}}/docs/generatesn/success)\n\n[Generate Serial Number - Error Response]({{{global.hostip}}}/docs/generatesn/error)\n\n# Generating a New Serial Number (With Optional Child Serial Numbers)\n\n## Node red subscribes to the base topic to monitor for any incoming mes command requests:\n`cmd/station/1/mes/+`\n\n## Client subscribe to the target topic if desires to read results\n`cmd/station/1/mes/generatesn/res`\n\n## Send a MQTT message from a client in the form:\n`cmd/station/1/mes/generatesn`\n\n\n\n## Node red gives a response to the supplied topic\n`cmd/station/1/generatesn/res`\n\n`{ \n\"client_id\" : \"unique_app_name1\", \n\"session_id\" : \"abcd12346\", \n\"topic\" : \"cmd/station/1/mes/createsn/res\", \n\"action\" : \n    { \n    \"concrete_type\" : \"CreateSnMessage\", \n    \"action\" : \"createsn\",\n    \"work_order\" : \"1878525\",\n    \"cell_id\" : \"5833\", \n    \"parent_sn\" : \"\",\n    \"username\" : \"cthompson\", \n    \"station_id\" : \"assm_001\", \n    \"branch\" : \"          50\", \n    \"children\" : \n        {\n            \"columns\": [\n                {\n                    \"name\": \"child_sns\",\n                    \"type\": \"VarChar(max)\"\n                }\n            ],\n            \"rows\": [\n                [ \"51000415071-1\" ],\n                [ \"78001443-B1-220118000095\" ]\n            ]\n        } \n    } \n}`\n\n(example success)\n`{\n    \"client_id\" : \"mes\",\n    \"session_id\":\"abcd12345\",\n    \"topic\":\"cmd/station/1/mes/addchild/res\",\n    \"res\":\n    {\n        \"lineNumber\":,\n        \"message\":\"Success\",\n        \"code\":\"\"\n    }\n}`\n\n(example failure)\n`{\n    \"client_id\" : \"mes\",\n    \"session_id\":\"abcd12345\",\n    \"topic\":\"cmd/station/1/mes/addchild/res\",\n    \"res\":\n    {\n        \"lineNumber\":88,\n        \"message\":\"Item Number not found for Serial Number 51003456789-01.\",\n        \"code\":\"EREQUEST\"\n    }\n}`\n\n## Client reads response and processes as desired","output":"str","x":410,"y":520,"wires":[["8dbaed9187ed2cf2"]]},{"id":"8dbaed9187ed2cf2","type":"markdown","z":"8227a27f69c78e85","name":"","x":630,"y":520,"wires":[["dcca811698cb6ab6"]]},{"id":"86bfaa87db929b35","type":"template","z":"8227a27f69c78e85","name":"Command Response Request Message","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \n\"client_id\" : \"unique_app_name1\", \n\"session_id\" : \"abcd12346\", \n\"topic\" : \"cmd/station/1/mes/createsn/res\", \n\"action\" : \n    { \n    \"concrete_type\" : \"CreateSnMessage\", \n    \"action\" : \"createsn\",\n    \"work_order\" : \"1878525\",\n    \"cell_id\" : \"5833\", \n    \"parent_sn\" : \"\",\n    \"username\" : \"cthompson\", \n    \"station_id\" : \"assm_001\", \n    \"branch\" : \"          50\", \n    \"children\" : \n        {\n            \"columns\": [\n                {\n                    \"name\": \"child_sns\",\n                    \"type\": \"VarChar(max)\"\n                }\n            ],\n            \"rows\": [\n                [ \"51000415071-1\" ],\n                [ \"78001443-B1-220118000095\" ]\n            ]\n        } \n    } \n}","output":"json","x":520,"y":1000,"wires":[["e813407f3dc130ba","cd08bf3ba9febbba"]]},{"id":"db3a74d320adf1a0","type":"http in","z":"8227a27f69c78e85","name":"docs/generatesn/sample","url":"docs/generatesn/sample","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1000,"wires":[["86bfaa87db929b35"]]},{"id":"e813407f3dc130ba","type":"http response","z":"8227a27f69c78e85","name":"Return Msg","statusCode":"","headers":{},"x":850,"y":1000,"wires":[]},{"id":"cd08bf3ba9febbba","type":"debug","z":"8227a27f69c78e85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1080,"wires":[]},{"id":"cc5e06e09466b251","type":"comment","z":"8227a27f69c78e85","name":"HTTP Documentation of MQTT Service","info":"","x":210,"y":440,"wires":[]}]